In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
#import pytz
import scipy
import requests
import warnings
import json
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns

warnings.filterwarnings('ignore')
pd.set_option('display.max_columns',None)

In [4]:
data_path = '/'.join(['.','Data',
                      'NBA Points Stats_2021-2023.xlsx'])

pts_data = pd.read_excel(data_path,
                         sheet_name = 'Points',
                         header = 0,
                         parse_dates = ['game_date'])

In [6]:
pts_data.head()

,game_date,player_id,player_position,team_id,opponent_team_id,min,pts,player_pts_per36,player_avg_min,league_player_pts_per36_mean,league_player_pts_per36_std,team_off_ppg,league_ppg_off_mean,league_ppg_off_std,opponent_team_def_ppg,league_ppg_def_mean,league_ppg_def_std,team_off_ppg_stand,opp_def_ppg_stand,player_pts_per36_stand
0,2021-10-19,6,F,3,17,16,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-10-19,8,G,17,3,28,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-10-19,15,F,17,3,31,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-10-19,17,F,14,10,26,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-10-19,36,G,14,10,31,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
pts_rel = pts_data[['game_date','team_id','opponent_team_id',
                    'player_id','player_position','player_avg_min',
                    'min','pts',
                    'player_pts_per36_stand',
                    'team_off_ppg_stand','opp_def_ppg_stand']]

In [32]:
pts_corr = pts_rel[['pts',
                'player_pts_per36_stand',
                'team_off_ppg_stand','opp_def_ppg_stand']]\
            .corr()

mask = np.zeros_like(pts_corr,
                     dtype = bool)

In [34]:
mask[np.triu_indices_from(mask)]

array([False, False, False, False, False, False, False, False, False,
       False])

In [ ]:
mask[np.triu_indices_from(mask)] = True
pts_corr[mask] = np.nan

In [ ]:
pts_corr.style\
    .background_gradient(cmap = 'coolwarm',
                        axis = None)\
    .highlight_null(color = '#f1f1f1')\
    .format(precision = 2)